{% extends 'base.html' %}
{% load static %}

{% block content %}
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-4 text-center" style="padding-bottom:20px;">
      <img src="{% static 'page/images/lion_profile.jpg' %}" width="150px" height="150px" alt="...">
    </div>
    <div class="col-md-8">
      <a href="{% url 'userpage' user %}" style="text-decoration: none; color: black;">
        <h2>{{user}}</h2>
      </a>
      <p>게시물 <strong>{{posts.count}}</strong><label data-toggle="modal" data-target="#myModal"
          style="margin-left:1em;color: grey;">프로필 사진 바꾸기</label></p>

      <div class="modal" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <form action="{% url 'change_profile' %}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="modal-header">
                <h4 class="modal-title">프로필 사진 바꾸기</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <img src="{% static 'page/images/lion_profile.jpg' %}" width="300px" height="300px" alt="..."
                  style="display: block; margin: 0px auto;">
                <div class="custom-file" style="margin-top:1em;">
                  <input type="file" class="custom-file-input" name="image" id="image">
                  <label class="custom-file-label" for="image" style="color: grey;">Choose file</label>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <input type="submit" class="btn btn-primary" value="save">
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
  <br>
  <hr>
  <div class="row">
    {% for post in posts.all reversed %}
    <div class="col-md-4 text-center" style="padding-bottom:20px;">
      {% if post.image %}
      <a href="{% url 'post_detail' post.id %}"><img src="{{post.image.url}}" width="293px" height="293px" alt="..."
          class="img-thumbnail"></a>
      {% else %}
      <a href="{% url 'post_detail' post.id %}"><img src="{% static 'page/images/thumbnail.jpg' %}" width="293px"
          height="293px" alt="..." class="img-thumbnail"></a>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</div>

<!-- 사진 이름 받아오기 -->
<script>
  $(".custom-file-input").on("change", function () {
    var fileName = $(this).val().split("\\").pop();
    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
  });
</script>

{% endblock %}