---
repos:
  - repo: https://github.com/asottile/reorder_python_imports
    rev: v3.8.3
    hooks:
    - id: reorder-python-imports
      exclude: ^.*\b(migrations)\b.*$
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v2.3.0
    hooks:
    - id: add-trailing-comma
      exclude: ^.*\b(migrations)\b.*$
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.38.2
    hooks:
    - id: pyupgrade
  - repo: https://github.com/pre-commit/mirrors-autopep8
    rev: v1.7.0
    hooks:
    - id: autopep8
      exclude: ^.*\b(migrations)\b.*$
  - repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
    - id: flake8
      exclude: ^.*\b(migrations)\b.*$
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.971
    hooks:
    - id: mypy
      additional_dependencies: [types-all]
