{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 center-align">
      <!-- post object list in reverse order -->
      {% for post in posts.all reversed %}
      <br>
      <div class="card">
        <div class="card-header">
          <strong>{{post.author}}</strong>
        </div>
        <img src="
        {% if post.image %}
        {{post.image.url}}
        {% else %}
        {% static 'page/images/thumbnail.jpg' %}
        {% endif %}" class="card-img-top" alt="...">
        <div class="card-body">
          <hr>
          <h3 class="card-title">{{post.title}}</h3>
          <p class="card-text"><strong>{{post.author}}</strong> {{post.summary}}
            <a href="{% url 'post_detail' post.id %}" style="color:gray;">...더보기</a>
          </p>
          <p><small class="card-text" style="color:gray;">{{post.pub_date}}</small></p>
          {% for comment in post.comments.all %}
          <label><strong>{{comment.author}}</strong> {{comment.content}}</label>
          <br>
          {% empty %}
          <label style="color:gray;">아직 댓글이 없습니다</label>
          {% endfor %}
        </div>
      </div>
      <br>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
