{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 center-align">
      <br>
      <div class="card">
        <!-- Header -->
        <div class="card-body">
          <a href="{% url 'userpage' post.author %}" style="text-decoration: none; color: black;">
          {% for profile in profile.all %}  
            {% if profile.image %}
              <img alt="User_logo" src="{{profile.image.url}}" width="25px" height="25px" class="d-inline-block align-top"><strong style="padding-left:10px;">{{post.author}}</strong>
            {% else %}
              <img alt="Lionstagram_logo" src="{% static 'page/images/lion_profile.jpg' %}" width="25px" height="25px" class="d-inline-block align-top"><strong style="padding-left:10px;">{{post.author}}</strong>
            {% endif %}
          {% endfor %}
          </a>
          {% if user.is_authenticated and user.username == post.author.username %}
          <div class="btn-group" style="float:right;">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
              <li><a href="{% url 'post_edit' post.id %}" class="dropdown-item">수정</a></li>
              <li><a href="{% url 'post_delete' post.id %}" class="dropdown-item">삭제</a></li>
            </ul>
          </div>
          {% endif %}
          <hr>
        </div>

        <!-- Image -->
        <a class="image" name="{{post.id}}">
          {% if post.image %}
          <img src="{{post.image.url}}" class="card-img-top" alt="...">
          {% else %}
          <img src="{% static 'page/images/thumbnail.jpg' %}" class="card-img-top" alt="...">
          {% endif %}
        </a>

        <!-- Post -->
        <div class="card-body">
          <hr>
          <div style="padding-bottom:10px">
            <button type="button" class="like" name="{{post.id}}" style="background:transparent;border:0;outline:0;padding:0;">
              {% if user in post.likes.all %}
              <img class="like_img" src="{% static 'page/images/lion_like_red.png' %}" alt="..." style="width:40px;height:30px;padding-right:10px">
              {% else %}
              <img class="like_img" src="{% static 'page/images/lion_like.jpg' %}" alt="..." style="width:40px;height:30px;padding-right:10px">
              {% endif %}
            </button>
            <a href="#comment"><img src="{% static 'page/images/lion_comment.jpg' %}" alt="..." style="width:30px;height:30px;"></a>
          </div>
          <p class="card-text" id="count{{post.id}}"><strong>좋아요 {{post.likes_count}}개</strong></p>
          <p class="card-text"><a href="{% url 'userpage' post.author %}" style="text-decoration: none; color: black;"><strong>{{post.author}}</strong></a> {{post.content}}</p>
          <small class="card-text" style="color:gray;">{{post.pub_date}}</small>
          <hr>
          <!-- 댓글 입력 폼 -->
          {% if user.is_authenticated %}
          <form method="POST" action="{% url 'comment_new' post.id %}" class="form-horizontal">
            {% csrf_token %}
            <div class="input-group">
              <input type="text" name="comment" id="comment" class="form-control" placeholder="댓글 달기...">
              <span class="input-group-btn">
                <input class="btn btn-outline-primary" type="submit" value="댓글 달기">
              </span>
            </div>
          </form>
          {% else %}
          <a href="{% url 'login' %}">
            <label style="color:gray;">로그인해야 댓글을 작성할 수 있습니다</label>
          </a>
          <br>
          {% endif %}
          <br>
          <!-- 댓글 -->
          {% for comment in post.comments.all %}
          <label><a href="{% url 'userpage' comment.author %}" style="text-decoration: none; color: black;"><strong>{{comment.author}}</strong></a>
            {{comment.content}}</label>
          <a class="btn-sm float-right" href="{% url 'comment_delete' post.id comment.id %}">
            <i class="fas fa-minus"></i>
          </a>
          <br>
          {% empty %}
          <label style="color:gray;">아직 댓글이 없습니다</label>
          {% endfor %}
          <p class="text-right"><a href="{% url 'home' %}" class="btn btn-primary">홈으로</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Likes ajax-->
<script>
  // Click Event Function
  var event = function() {
    var pk = $(this).attr('name')
    $.ajax({
      type: "POST", // POST로 통신
      url: "{% url 'post_like' %}",
      data: {
        'pk': pk,
        'csrfmiddlewaretoken': '{{ csrf_token }}'
      },
      dataType: "json",
      // {'likes_count': post.like_count}
      success: function(response) {
        $("#count" + pk).html("<strong>좋아요 " + response.likes_count + "개</strong>");
        // like_img change click event
        var like_img = $('.like_img').attr('src');
        if(like_img == "{% static 'page/images/lion_like_red.png' %}"){
          $('.like_img').attr('src', "{% static 'page/images/lion_like.jpg' %}");
        }else{
          $('.like_img').attr('src', "{% static 'page/images/lion_like_red.png' %}");
        }
      },
      error: function() {
        alert("로그인이 필요합니다.");
        window.location.replace("/account/login/");
      },
    });
  }

  $('.like').click(event); // like button click
  $('.image').dblclick(event); // image dblclick
</script>
{% endblock %}
