{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 center-align">
      <br>
      <div class="card">
        <div class="col-md-10 center-align">
          <form action="{% url 'post_new' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <br>
            <!-- 사진 업로드 -->
            <div class="form-group">
              <label for="image">
                <h4>사진 업로드</h4>
              </label>
              <br>
              <input type="file" name="image" id="image">
            </div>
            <hr>
            <div class="form-group">
              <label for="title">
                <h4>제목</h4>
              </label>
              <input type="text" name="title" id="title" class="form-control" placeholder="제목을 입력해주세요">
            </div>
            <br>
            <div class="form-group">
              <label for="content">
                <h4>내용</h4>
              </label>
              <textarea class="form-control" name="content" id="content" rows="7" placeholder="내용을 입력해주세요"></textarea>
            </div>
            <br>
            <div class="form-group text-center">
              <input class="btn btn-outline-info" type="submit" value="제출하기">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
