{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 center-align">
      <br>
      <div class="card">
        <div class="col-md-10 center-align">
          <form action="{% url 'post_new' %}" method="POST" enctype="multipart/form-data" class="p-3">
            {% csrf_token %}
            <br>
            <!-- 사진 업로드 -->
            <div class="form-group">
              <label for="image">
                <h4>사진 업로드</h4>
              </label>
              <br>
              <div class="custom-file">
                <input type="file" class="custom-file-input" name="image" id="image">
                <label class="custom-file-label" for="image" style="color: grey;">Choose file</label>
              </div>
            </div>
            <hr>
            <div class="form-group">
              <label for="content">
                <h4>내용</h4>
              </label>
              <textarea class="form-control" name="content" id="content" rows="10" placeholder="내용을 입력해주세요"></textarea>
            </div>
            <br>
            <div class="form-group text-center">
              <input class="btn btn-outline-primary" type="submit" value="글쓰기">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 사진 이름 받아오기 -->
<script>
$(".custom-file-input").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});
</script>

{% endblock %}
