{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6" style="float: none; margin: 0 auto;">
      <br>
      <div class="card">
        <img src="
        {% if detail.image %}
        {{detail.image.url}}
        {% else %}
        {% static 'page/images/thumbnail.jpg' %}
        {% endif %}"
        class="card-img-top" alt="...">
        <div class="card-body">
          <hr>
          <h2 class="card-title">{{detail.title}}</h2>
          <p class="card-text">{{detail.pub_date}}</p>
          <p class="card-text">{{detail.content}}</p>
          <p class="text-right"><a href="{% url 'home' %}" class="btn btn-primary">홈으로</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
